<?xml version="1.0" encoding="UTF-8"?>

<phpunit
     backupGlobals="false"
     colors="true"
     bootstrap="vendor/autoload.php">

    <php>
        <ini name="error_reporting" value="-1" />
        <const name="BASE_URL" value="http://localhost:20000"/>
        <const name="MOCK_API_URL" value="http://localhost:19999"/>
        <const name="ACTUAL_API_URL" value="http://localhost:20000/api"/>
    </php>

    <testsuites>
        <testsuite name="system">
            <directory>./tests/system</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./app</directory>
            <exclude>
                <directory>./bin</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="SystemTestListener" file="tests/SystemTestListener.php" />
    </listeners>
</phpunit>